@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600;800;900&display=swap');

:root {
  --primary: #f97316; /* Orange 500 */
  --bg-main: #f8fafc;
  --card-bg: #ffffff;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: var(--bg-main);
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
